<div class="jumbotron">
    <h1>ASP.NET</h1>

    <div id="body">
        <ul id="contacts"></ul>
    </div>
</div>
<div class="row">
   
</div>


@section scripts{
    <script type="text/javascript">
        $(function () {
            $.getJSON('/api/contact', function (contactsJsonPayload) {
                $(contactsJsonPayload).each(function (i, item) {
                    $('#contacts').append('<li>' + item.Name + '</li>');
                });
            });
        });
    </script>
}